Documentation/Program Wide Standards/PWS Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="slideshow">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element name="documentinfo">
            <xs:complexType>
              <xs:all>
                <xs:element type="xs:string" name="author" />
                <xs:element type="xs:string" name="version" />
                <xs:element type="xs:string" name="comment" />
                <xs:element type="xs:integer" name="groupid" />
              </xs:all>
            </xs:complexType>
          </xs:element>
          <xs:element name="defaultsettings">
            <xs:complexType>
              <xs:all>
                <xs:element name="backgroundcolor">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:pattern value="[#]([a-fA-F0-9]{8})" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element type="xs:string" name="font" />
                <xs:element type="xs:positiveInteger" name="fontsize" />
                <xs:element name="fontcolor">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:pattern value="[#]([a-fA-F0-9]{8})" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="graphiccolor">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:pattern value="[#]([a-fA-F0-9]{8})" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:all>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
          <xs:element name="slide">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="text">
                  <xs:complexType mixed="true">
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                      <xs:element name="richtext">
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="xs:string">
                              <xs:attribute type="xs:string" name="font" />
                              <xs:attribute type="xs:string" name="fontsize" />
                              <xs:attribute type="xs:string" name="fontcolor" />
                              <xs:attribute type="xs:boolean" name="newline" />
                              <xs:attribute type="xs:boolean" name="b" />
                              <xs:attribute type="xs:boolean" name="i" />
                              <xs:attribute type="xs:boolean" name="u" />
                              <xs:attribute type="xs:boolean" name="strikethrough" />
                              <xs:attribute type="xs:boolean" name="superscript" />
                              <xs:attribute type="xs:boolean" name="subscript" />
                              <xs:attribute type="xs:string" name="case" />
                              <xs:attribute type="xs:string" name="alignment" />
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                    <xs:attribute type="xs:string" name="sourcefile" />
                    <xs:attribute type="xs:float" name="xstart" use="required" />
                    <xs:attribute type="xs:float" name="ystart" use="required" />
                    <xs:attribute type="xs:string" name="font" />
                    <xs:attribute type="xs:integer" name="fontsize" />
                    <xs:attribute type="xs:string" name="fontcolor" />
                    <xs:attribute type="xs:float" name="duration" />
                    <xs:attribute type="xs:float" name="starttime" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="image">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute type="xs:string" name="sourcefile" use="required" />
                        <xs:attribute type="xs:float" name="xstart" use="required" />
                        <xs:attribute type="xs:float" name="ystart" use="required" />
                        <xs:attribute type="xs:float" name="scale" />
                        <xs:attribute type="xs:float" name="duration" />
                        <xs:attribute type="xs:float" name="starttime" />
                        <xs:attribute type="xs:float" name="rotate" />
                        <xs:attribute type="xs:boolean" name="fliphorizontal" />
                        <xs:attribute type="xs:boolean" name="flipvertical" />
                        <xs:attribute type="xs:float" name="cropx1" />
                        <xs:attribute type="xs:float" name="cropy1" />
                        <xs:attribute type="xs:float" name="cropx2" />
                        <xs:attribute type="xs:float" name="cropy2" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="audio">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute type="xs:string" name="sourcefile" use="required" />
                        <xs:attribute type="xs:float" name="starttime" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="video">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute type="xs:string" name="sourcefile" use="required" />
                        <xs:attribute type="xs:float" name="xstart" use="required" />
                        <xs:attribute type="xs:float" name="ystart" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="graphic">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:choice minOccurs="0">
                        <xs:element name="oval">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:string">
                                <xs:attribute type="xs:float" name="xstart" use="required" />
                                <xs:attribute type="xs:float" name="ystart" use="required" />
                                <xs:attribute type="xs:float" name="xend" use="required" />
                                <xs:attribute type="xs:float" name="yend" use="required" />
                                <xs:attribute type="xs:boolean" name="solid" />
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="rectangle">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:string">
                                <xs:attribute type="xs:float" name="xstart" use="required" />
                                <xs:attribute type="xs:float" name="ystart" use="required" />
                                <xs:attribute type="xs:float" name="xend" use="required" />
                                <xs:attribute type="xs:float" name="yend" use="required" />
                                <xs:attribute type="xs:boolean" name="solid" />
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="line">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:string">
                                <xs:attribute type="xs:float" name="xstart" use="required" />
                                <xs:attribute type="xs:float" name="ystart" use="required" />
                                <xs:attribute type="xs:float" name="xend" use="required" />
                                <xs:attribute type="xs:float" name="yend" use="required" />
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="itriangle">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:string">
                                <xs:attribute type="xs:float" name="xstart" use="required" />
                                <xs:attribute type="xs:float" name="ystart" use="required" />
                                <xs:attribute type="xs:float" name="xend" use="required" />
                                <xs:attribute type="xs:float" name="yend" use="required" />
                                <xs:attribute type="xs:boolean" name="solid" />
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:choice>
                      <xs:choice minOccurs="0">
                        <xs:element name="cyclicshading">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="shadingcolor" use="required" />
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:choice>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="type" />
                    <xs:attribute type="xs:float" name="xstart" />
                    <xs:attribute type="xs:float" name="ystart" />
                    <xs:attribute type="xs:float" name="xend" />
                    <xs:attribute type="xs:float" name="yend" />
                    <xs:attribute type="xs:boolean" name="solid" />
                    <xs:attribute type="xs:string" name="graphiccolor" />
                    <xs:attribute type="xs:float" name="duration" />
                    <xs:attribute type="xs:float" name="starttime" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>